In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("C:\\Users\\Umeshyam\\Desktop\\file.csv", header=0)

In [18]:
df

   eid ename edept  esalary  address
0    1   raj    it      100      hyd
1    2  rani    hr      100      vjd
2    1  raja    it      150      hyd
3    2   ran   fin      200  vjawads
4    3  nari   fin      100      bdl
5    4  jani   fin      200      elr

In [19]:
data = []
for (idxRow, s1), (_, s2) in zip(df.iterrows(), df.iterrows()):
    for (idxCol, v1), (_, v2) in zip(s1.iteritems(), s2.iteritems()):
        if v1 != v2:
            data.extend([[idxRow,idxCol,v1,v2]])
            

print("differen values", data)

differen values []

In [20]:
list_of_eid_column = df['eid'].tolist()

print("the list of a single column from the dataframe\n",list_of_eid_column)

the list of a single column from the dataframe
 [1, 2, 1, 2, 3, 4]

In [27]:
plural_in_list = {x for x in list_of_eid_column if list_of_eid_column.count(x) > 1 }

In [28]:
plural_in_list

{1, 2}

In [33]:
#To select rows whose column value equals a scalar, some_value, use ==:
idx_rows=[]
for i in plural_in_list:
    idx_row = df.index[df['eid'] == i].tolist()
    idx_rows.append(idx_row)
    #print(df.loc[df['m0'] == i])

idx_rows

[[0, 2], [1, 3]]

In [34]:
dif_data = []
for i in idx_rows:
    for (idxCol, v1), (_, v2) in zip(df.loc[i[0]].iteritems(), df.loc[i[1]].iteritems()):
        if v1 != v2:
            dif_data.extend([[i[0],i[1],idxCol,v1,_,v2]])            
dif_data

[[0, 2, 'ename', 'raj', 'ename', 'raja'],
 [0, 2, 'esalary', 100, 'esalary', 150],
 [1, 3, 'ename', 'rani', 'ename', 'ran'],
 [1, 3, 'edept', 'hr', 'edept', 'fin'],
 [1, 3, 'esalary', 100, 'esalary', 200],
 [1, 3, 'address', 'vjd', 'address', 'vjawads']]

In [35]:
df1 = pd.DataFrame(dif_data, columns=['Source_rowid', 'Desn_rowid','Sour_colname','Sou_Value','Target_cname','S_V'])

In [36]:
df1

   Source_rowid  Desn_rowid Sour_colname Sou_Value Target_cname      S_V
0             0           2        ename       raj        ename     raja
1             0           2      esalary       100      esalary      150
2             1           3        ename      rani        ename      ran
3             1           3        edept        hr        edept      fin
4             1           3      esalary       100      esalary      200
5             1           3      address       vjd      address  vjawads